.first-comment{
  background-image: url('https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-bottom: 70vh;
}
.comment-box, .reply-box{
  margin-top: 25vh;
  height: 50px;
  width: 300px;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.329);
}
.comment-box:focus, .reply-box:focus{
  background-color: white;
}
.reply-box{
  margin-top:0;
}
.reply-text{
  font-size: 1.5rem;
}
.inline{
  display: inline;
}
.ml {
  margin-left: 5px;
}
.replyList{
  list-style: none;
  margin: 10px 10% 10px 10%; 
}
.comment-text{
  font-size: 2.4rem;
}
.comment-card{
  margin-top: 10px;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 2% 2% 2% 2%;
}
.App {
  text-align: center;
}
.hidden
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}